@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/firasans-regular-webfont.eot');
    src: url('../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/firasans-regular-webfont.woff') format('woff'),
         url('../fonts/firasans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/18px "Fira Sans", sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

#header a {
	color: #000;
}

.burger {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 2;
    opacity: 1;
}

.burger span {
    width: 26px;
    height: 3px;
    background: #111;
    display: block;
    position: absolute;
    left: 18px;
}

.burger .line1 {
    top: 17px;
}

.burger .line2 {
    top: 26px;
}

.burger .line3 {
    top: 35px;
}

.detail-gallery a, .burger span, .menu li a, .detail-gallery li {
	-webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.menu, .list-holder li a, .list-holder li img, .list-holder li div, .index-list li .bkg, .index-list li .title {
	-webkit-transition: all .4s cubic-bezier(1, 0.045, 0.355, 1.000);
    -moz-transition: all .4s cubic-bezier(1, 0.045, 0.355, 1.000);
    -ms-transition: all .4s cubic-bezier(1, 0.045, 0.355, 1.000);
    -o-transition: all .4s cubic-bezier(1, 0.045, 0.355, 1.000);
    transition: all .4s cubic-bezier(1, 0.045, 0.355, 1.000);
}

#intro, #intro div {
	-webkit-transition: all 2s cubic-bezier(.78,0,.22,.95);
    -moz-transition: all 2s cubic-bezier(.78,0,.22,.95);
    -ms-transition: all 2s cubic-bezier(.78,0,.22,.95);
    -o-transition: all 2s cubic-bezier(.78,0,.22,.95);
    transition: all 2s cubic-bezier(.78,0,.22,.95);
}

.burger-hover span {
	background: #888;
}

.menu {
	position: fixed;
	top: 0;
	right: -220px;
	width: 220px;
	left: auto;
	text-align: left;
	background: #ccc;
	height: 100%;
	z-index: 50;
}

.menu ul {
	list-style: none;
    font-size: 110%;
    text-transform: uppercase;
    line-height:27px;
    padding-left: 20px;
    padding-top: 20px;
}

.menu li a {
	color: #444;
}

.menu li a:hover {
	color: #888;
}

.menu a.active {
	color: #fff !important;
}

.menu-head {
	background-color: #aaa;
	height: 60px;
}

.menu-open {
	-webkit-transform: translate3d(-220px, 0, 0);
	-moz-transform: translate3d(-220px, 0, 0);
	-ms-transform: translate3d(-220px, 0, 0);
	-o-transform: translate3d(-220px, 0, 0);
	transform: translate3d(-220px, 0, 0);
	opacity: 1;
}

.menu .close {
	float:right;
	padding-top: 5px;
	cursor: pointer;
}

.menu .close span {
	display: block;
	width: 50px;
	height: 50px;
	background: transparent url("../images/sprite.png") -6px -6px no-repeat;
}

.menu-head .title {
	float: left;
	padding-top: 22px;
    padding-left: 20px;
}

.menu-head .title a {
	color: #000;
}

#loading {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	z-index: 90;
}

#loading div  {
	position: absolute;
	top:50%;
	text-align: center;
	width: 100%;
	font-size: 120%;
	text-transform: uppercase;

}

#intro {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
	z-index: 100;
}

#intro div  {
	position: absolute;
	top:50%;
	text-align: center;
	width: 100%;
	font-size: 250%;
	text-transform: uppercase;

}

#intro.animate1 div {
	opacity: 0;
}

.animate2 {
	background: #fff !important;
}

.animate3 {
	opacity: 0;
}

header {
	height: 60px;
}

header h1 {
	padding-left: 30px;
    padding-top: 23px;
    font-weight: normal;
    text-transform: uppercase;
}


/* images list */
.list-holder {
	padding: 0 50px 50px 50px;
}

.list-holder li {
	list-style: none;
	padding:20px;
	cursor: pointer;
	width: 205px;
    height: 262px;
    overflow: visible;
}

.list-holder li a {
	text-align: center;
	color: #000;
    width: 225px;
    height: 282px;
    display: block;
	background-position: top center;
    background-size: cover;
}

.list-holder img {
	width: 225px;
}

.list-holder li a:hover {
	transform: scale(1.13);
}

.list-holder li:hover img {
	-webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    filter: url(#brightness); /* required for FF */
    filter: brightness(50%);
}

.list-holder li:hover div {
	opacity: 1;
	transform: translateY(-10px);
}

.list-holder ul li div {
	position: absolute;
	width: 225px;
	bottom: 40px;
	color: #fff;
	opacity: 0;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
}


/* slider */

#detail-holder {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	z-index: 80;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#detail-holder .close {
	float:right;
	right: 3px;
	cursor: pointer;
	z-index: 99;
}

#detail-holder .close span {
	display: block;
	width: 50px;
	height: 50px;
	background: transparent url("../images/sprite.png") -6px -6px no-repeat;
}

@media (min-height: 700px) and (min-width: 736px) {
	.detail-gallery-page {
	    position: absolute;
	    margin-top: -300px;
	}
}

.detail-gallery ul {
	position: absolute;
}

.detail-gallery li {
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
    position: relative;
    overflow: hidden;
    height: 600px;
    float: left;
    text-align: right;
    width: 400px;
}


.detail-gallery li.horizontal {
	width: 100% !important;
}

.detail-gallery .titlepage {
	padding: 20px;
}

.titlepage {
	font-size: 17px;
}

.titlepage h3 {
	padding-top: 20px;
	font-size: 13px;
	text-transform: uppercase;
	color: #555;
	font-weight: normal;
}

.titlepage h1 {
	padding-bottom: 20px;
	font-size: 21px;
	text-transform: uppercase;
}

.detail-gallery li img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.detail-gallery {
	margin-top: 50px;
}

.detail-gallery .prev, .detail-gallery .next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    margin: 45px 0;
    cursor: pointer;
	z-index: 70;
	font-size: 50px;
	cursor: pointer;
}

.detail-gallery .next {
	left: 50%;
}

.detail-gallery .next span, .detail-gallery .prev span {
    top: 50%;
    margin-top: -30px;
    display: block;
    cursor: pointer;
    position: absolute;
    padding: 20px;
}

.detail-gallery .next span {
	right: 0;
}

.detail-gallery .prev {
	left: 0;
	display: none;
}

.detail-gallery-page {
	overflow: hidden;
    width: 800px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -300px;
}

@media (min-width: 1280px) and (min-height: 800px) {
	.detail-gallery-page, .detail-gallery-page ul {
		width: 1024px;
		height: 768px;
	}
	.detail-gallery-page {
		margin-left: -512px;
		margin-top: -370px;
	}
	.detail-gallery li {
		width: 512px;
		height: 768px;
	}
	.titlepage, .titlepage h1 {
		font-size: 150%;
	}
	.titlepage h3 {
		font-size: 15px;
	}
}

@media (min-width: 2048px) and (min-height: 1228px){
	.detail-gallery-page, .detail-gallery-page ul {
		width: 1500px;
		height: 1000px;
	}
	.detail-gallery-page {
		margin-left: -750px;
		margin-top: -520px;
	}
	.detail-gallery li {
		width: 750px;
		height: 1000px;
	}
	.titlepage, .titlepage h1 {
		font-size: 150%;
	}
	.titlepage h3 {
		font-size: 15px;
	}
}

.detail-gallery {
	text-align: center;
}

.detail-gallery a {
	color: #aaa;
}

.detail-gallery a:hover {
	color: #000;
}

::-webkit-scrollbar { 
    display: none; 
}


/* index page */
.index-list {
	list-style: none;
    font-size: 110%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.index-list li {
	float: left;
	width: 50%;
	height: 100%;
}

.index-list li.women div.bkg {
	background: url(../images/woman.jpg?v2) center center no-repeat;
	position: absolute;
	width:100%;
	height:100%;
}

.index-list li.men div.bkg {
	background: url(../images/man.jpg?v2) center center no-repeat;
	position: absolute;
	width:100%;
	height:100%;
}

.index-list div.bkg {
	background-size: cover !important;
}

.index-list a {
	position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.index-list div.title {
    position: absolute;
    width: 100%;
    bottom: 20%;
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    font-size: 35px;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
 }

@media (max-width: 768px) {
	.index-list li, .index-list a {
		float: none;
		width: 100%;
		height: 50%;
	}
	.index-list li .bkg {
		background-position: top !important;
	}
	.index-list li.men .bkg {
		background-position-y: -80px !important;
	}
	@media (max-width: 450px) {
		.index-list li.men .bkg {
			background-position-y: 0 !important;
		}
	}
}

.index-list li:hover .bkg {
	-webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    filter: url(#brightness); /* required for FF */
    filter: brightness(50%);
}

.index-list li:hover .title {
	opacity: 1;
	transform: translateY(-20px)
}



.about-holder {
	padding: 0px 50px 50px 50px;
}

.blog-holder {
	position: absolute;
	width: 700px;
	left: 50%;
	margin-left: -350px;
}

.blog-holder ul li {
	list-style: none;
		padding-top: 50px;
	}

.blog-holder img {
	align: center;
}

/* mobile */

@media (min-device-width : 768px) and (max-device-width : 1024px)  {
	.list-holder ul li div, .index-list div.title {
		opacity: 1;
	}
}

/* RD */

@media screen and (max-width: 736px), screen and (max-height: 600px) {
	.detail-gallery-page, .detail-gallery-page ul {
		width: 400px;
		height: 300px;
	}
	.detail-gallery-page {
		margin-left: -200px;
		margin-top: -150px;
	}
	.detail-gallery li {
		width: 200px;
		height: 300px;
	}
	.titlepage, .titlepage h1 {
		font-size: 90%;
		padding: 0;
	}
	.titlepage h3 {
		font-size: 10px;
	    padding-top: 15px;
	}
	.list-holder {
		padding-left: 109px;
	}
}

@media screen and (max-width: 320px), screen and (max-height: 300px) {
	.detail-gallery-page, .detail-gallery-page ul {
		width: 300px;
		height: 225px;
	}
	.detail-gallery-page {
		margin-left: -150px;
		margin-top: -112px;
	}
	.detail-gallery li {
		width: 150px;
		height: 225px;
	}
	.titlepage, .titlepage h1 {
		font-size: 90%;
		padding: 0;
		line-height: 12px;
	}
	.titlepage h3 {
		font-size: 10px;
	    padding-top: 15px;
	}
	.list-holder {
		padding-left: 28px;
	}
}

@media (min-device-width : 2560px) and (min-device-width : 1400px) {
	.detail-gallery-page, .detail-gallery-page ul {
		width: 1800px;
		height: 1350px;
	}
	.detail-gallery-page {
		margin-left: -1000px;
		margin-top: -675px;
	}
	.detail-gallery li {
		width: 900px;
		height: 1350px;
	}
	header {
		height: 120px;
	}
	header h1 {
	    font-size: 44px !important;
	    padding-left: 42px;
	    padding-top: 53px;
    }

	.burger {
	    width: 90px;
	    height: 100px;
	    padding-left: 20px;
	    top: 10px;
	}

	.burger span {
	    width: 48px;
	    height: 6px;
	}

	.burger .line1 {
	    top: 30px;
	}

	.burger .line2 {
	    top: 47px;
	}

	.burger .line3 {
	    top: 64px;
	}

	.menu {
		width: 360px;
		right: -360px;
		font-size: 180%;
	}

	.menu-head {
		height: 120px;
	}

	.menu-head .title {
		padding-top: 54px;
	}

	.menu .close {
		padding-top: 32px;
	}

	.menu-open {
		-webkit-transform: translate3d(-360px, 0, 0);
		-moz-transform: translate3d(-360px, 0, 0);
		-ms-transform: translate3d(-360px, 0, 0);
		-o-transform: translate3d(-360px, 0, 0);
		transform: translate3d(-360px, 0, 0);
		opacity: 1;
	}

	.menu ul {
		line-height: 45px;
	}

	.titlepage, .titlepage h1 {
	    font-size: 210%;
	    line-height: 100%;
   	}

	.detail-gallery .titlepage {
	    padding: 70px;
	}

	.titlepage h3 {
	    font-size: 22px;
	    padding-top: 40px;
	    line-height: 36px;
	}




}

